@import "../../../styles/Documents.scss";

#projects {
  font-family: $main-font;
  padding: 2em 0;

  .container {
    width: 90%;
    margin: 0 auto;
    .heading {
      font-family: $main-font;
      font-size: 40px;
      font-weight: bold;
      text-align: center;
      padding: 1em;
    }
    .project-items {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-gap: 1em;
      .project {
        border-radius: 4px;
        grid-column: 1/13;
        position: relative;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
          rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
        .img-section {
          img {
          }
        }
        .text-section {
          padding: 1em;
          padding-bottom: 40px;
          .title {
            @include basic-heading;
          }
          .grey-text {
            @include normal-paragraph;
            font-size: 16px;
            padding: 5px 0px;
            color: #21243d;
            letter-spacing: 0px;
          }

          .keywords {
            color: $main_color;
            font-size: 1em;
            font-weight: bold;
            color: gray;
          }

          .keywordsname {
            // color: black;
            color: $main-font;
            font-weight: bold;
            font-size: 16px;
            // padding: 5px 0px;
            // position: absolute;
            // bottom: 15px;
          }

          .viewSource {
            @include key_button;
            display: inline-block;
            padding: 0 5px;
            font-size: 14px;
            line-height: 20px;
            position: absolute;
            bottom: 10px;
            right: 10px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 620px) {
  #projects {
    .container {
      width: 90%;
      margin: 0 auto;
      .project-items {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 1.5em;
        .project {
          grid-column: span 6;
          // border: 1px solid black;
        }
      }
    }
  }
}

@media screen and (min-width: 960px) {
  #projects {
    .container {
      width: 90%;
      margin: 0 auto;
      .project-items {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 2em;
        .project {
          grid-column: span 4;
          // border: 1px solid black;
        }
      }
    }
  }
}
